@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Passion+One:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sriracha&display=swap');
* {
    padding: 0px;
    margin: 0px;
}

:root {
    --font1:'Passion One', cursive;
    --font2: 'Sriracha', cursive;
    --cor1:#e06969;
}

body {
    background-color: #e06969;
}

header {
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px ;
    text-align: center;
    margin: auto;
    font-family: var(--font1);
}

main {
    padding-top: 20px;
    background-color: white;
    margin: auto;
    text-align: justify;
    max-width: 950px;
    min-width: 280px;
    border-radius: 0px 0px 10px 20px;
    margin-bottom: 15px;
    font-family: var(--font2);
}

.poema {
    font-weight: 800;
}

p {
    padding: 10px;
    font-weight: 500;

}

footer {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: black;
    text-align: center;
    color: white;
}